<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Default Description" />

        <title>{% block title %} Shop {% endblock %} - Bookshop </title>

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shopbookshop/css/styles.css') }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shopbookshop/css/widgets.css') }}" media="all" />
        {% endblock %}

        {% block javascripts %}
        <script src = "{{ asset('bundles/shopbookshop/js/jquery-1.10.2.min.js') }}"></script>
        <script src = "{{ asset('bundles/shopbookshop/js/jquery.validate.min.js') }}"></script>
        <script src = "{{ asset('bundles/shopbookshop/js/functions.js') }}"></script>
        {% endblock %}

    </head>

    <body>

        <div class="wrapper">
            <div class="page">
                   {% block header %}
                        <div class="header-container">
                             <div class="header">
                                 <div class="quick-access">
                                     {% block search %}
                                         <form id="search_mini_form" action="{{ path('shop_bookshop_category', app.request.query.all)  }}" method="get">
                                             <div class="form-search">
                                                 <label for="search">{{'Search'|trans}}:</label>
                                                 <input id="search" type="text" name="title" value="" class="input-text" onkeyup="showResult(this.value)" maxlength="128" />
                                                 <button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
                                             </div>
                                             <div class="suggestionsBox" id="suggestionBox" style="visibility: hidden; margin-left: 45%;">
                                                 <div class="suggestionList" id="liveSearch"></div>
                                             </div>
                                         </form>
                                     {% endblock %}

                                     {% block headermenu %}
                                     <p class="welcome-msg">{% block welcomeMessage %}{{'Welcome'|trans}}!{% endblock %}</p>
                                         {{ knp_menu_render('ShopBookshopBundle:Builder:headerMenuGuest') }}
                                           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                               <p class="welcome-msg">Welcome {{ app.user.username }} !</p>
                                               {{ knp_menu_render('ShopBookshopBundle:Builder:headerMenuUser') }}
                                           {% else %}
                                               <p class="welcome-msg">Welcome!</p>
                                               {{ knp_menu_render('ShopBookshopBundle:Builder:headerMenuGuest') }}
                                           {% endif %}
                                     {% endblock %}

                                 </div>
                             </div>
                        </div>
                   {% endblock %}

                   {% block menu %}
                        <div class="nav-container">
                            {{ knp_menu_render('ShopBookshopBundle:Builder:headerMenuCategories') }}
                        </div>
                   {% endblock %}

                   {% block container %}

                   {% endblock %}

                   {% block footer %}
                        <div class = "footer-container">
                            <div class = "footer">
                                <ul>
                                    <li><a href = "#">{{'About Us'|trans}}</a></li>
                                    <li><a href = "#">{{'Customer Service'|trans}}</a></li>
                                    <li class = "last privacy"><a href = "#">{{'Privacy Policy'|trans}}</a></li>
                                </ul>

                                <ul class = "links">
                                    <li class = "first" ><a href = "#" title = "Site Map" >{{'Site Map'|trans}}</a></li>
                                    <li ><a href = "#" title = "Search Terms" >{{'Search Terms'|trans}}</a></li>
                                    <li ><a href = "#" title = "Orders and Returns" >{{'Orders and Returns'|trans}}</a></li>
                                    <li class = " last" ><a href = "#" title = "Contact Us" >{{'Contact Us'|trans}}</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endblock %}
              </div>
          </div>
      </body>
</html>