{% extends 'ShopBookshopBundle::layout.html.twig' %}

{% block title %}Cart Page{% endblock%}
{% block container %}  

<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="cart">
                <div class="page-title title-buttons">
                    <h1>Shopping Cart</h1>
                    <ul class="checkout-types">
                        <li>
                            <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" ><span><span>Proceed to Checkout</span></span></button>
                        </li>
                    </ul>
                </div>
                {#
                <ul class="messages">
                    <li class="success-msg">
                        <ul>
                            <li><span>Coalesce: Functioning On Impatience T-Shirt was added to your shopping cart.</span></li>
                        </ul>
                    </li>
                </ul>
                #}
                
                <form action="" method="post">
                    <fieldset>
                        <table id="shopping-cart-table" class="data-table cart-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col width="1" />
                                <col width="1" />
                                <col width="1" />
                                <col width="1" />
                                <col width="1" />
                            </colgroup>
                            <thead>
                                <tr class="first last">
                                    <th rowspan="1">&nbsp;</th>
                                    <th rowspan="1"><span class="nobr">Product Name</span></th>
                                    <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                                    <th rowspan="1" class="a-center">Qty</th>
                                    <th class="a-center" colspan="1">Subtotal</th>
                                    <th rowspan="1" class="a-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td colspan="50" class="a-right last">
                                        <a href="{{path('shop_bookshop_homepage')}}">
                                        <button type="button" title="Continue Shopping" class="button btn-continue" ><span><span>Continue Shopping</span></span></button>
                                        </a>
                                        <button type="submit" name="update_cart_action" value="update_qty" title="Update Shopping Cart" class="button btn-update"><span><span>Update Shopping Cart</span></span></button>
                                        <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart" class="button btn-empty" id="empty_cart_button"><span><span>Clear Shopping Cart</span></span></button>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for cartItem in cart[0].cartItems %}
                                    <tr class="{{cycle(['last even','first odd'], loop.index)}}" >
                                        <td>
                                            <a href="product_detail.html" title="{{cartItem.product.title}}" class="product-image">
                                                <img src="{{ asset('bundles/shopbookshop/image/'~cartItem.product.image) }}" alt="{{cartItem.product.title}}" height="75" width="75" />
                                            </a>
                                        </td>
                                        <td>
                                            <h2 class="product-name">
                                                <a href="product_detail.html">{{cartItem.product.title}}</a>
                                            </h2>
                                        </td>
                                        <td class="a-right">
                                            <span class="cart-price">
                                                <span class="price">${{cartItem.price}}</span>
                                            </span>
                                        </td>
                                        <td class="a-center">
                                            <input name="qty" value="{{cartItem.quantity}}" size="4" title="Qty" class="input-text qty" maxlength="12" />
                                        </td>
                                        <td class="a-right">
                                            <span class="cart-price">
                                                <span class="price">${{cartItem.quantity*cartItem.price}}</span>
                                            </span>
                                        </td>
                                        <td class="a-center last">
                                            <a href="{{ path('shop_bookshop_remove',{'id': cartItem.id}) }}" title="Remove item" class="btn-remove btn-remove2">Remove item</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </form>

                <div class="cart-collaterals">
                    <div class="totals">
                        <table id="shopping-cart-totals-table">
                            <colgroup>
                                <col />
                                <col width="1" />
                            </colgroup>
                            <tfoot>
                                <tr>
                                    <td style="" class="a-right" colspan="1">
                                        <strong>Grand Total:</strong>
                                    </td>
                                    <td style="" class="a-right">
                                        <strong><span class="price">${{cart[0].total}}</span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <ul class="checkout-types">
                            <li>
                                <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" ><span><span>Proceed to Checkout</span></span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}