{% extends 'ShopBookshopBundle::layout.html.twig' %}

{% block title %}Category{% endblock%}
{% block container %}  
<div class="main-container col3-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    <a href="{{ path('shop_bookshop_homepage') }}" title="Go to Home Page">{{'Home'|trans}}</a>
                    <span>/ </span>
                </li>
                <li class="category35">
                    <strong>
                        {% if products.params.clabel is defined %} 
                            {{products.params.clabel}} 
                        {% endif %}
                        {% if products.params.search is defined %} 
                            {{'Search By: '~products.params.search}} 
                        {% endif %}    
                    </strong>
                </li>
            </ul>
        </div>
         
        <div class="col-wrapper">
            <div class="col-main">
                <div class="page-title category-title">
                    <h1>{% if products.params.clabel is defined %} 
                            {{products.params.clabel}} 
                        {% endif %}
                        {% if products.params.search is defined %} 
                            {{"Search By: ' "~products.params.search~"'"}} 
                        {% endif %}
                    </h1>
                </div>

                <div class="category-products">
                    <div class="toolbar">
                        {% if products.items %}
                            <div class="pager">
                                <p class="amount">
                                    <strong>{{ products.getTotalItemCount }} {{'Item(s)'|trans}}</strong>
                                </p>
                                <div class="pages">
                                    <strong>{{'Page'|trans}}: {{ knp_pagination_render(products) }}</strong>
                                </div>
                            </div>
                            <div class="sorter">
                                <div class="sort-by">
                                    <label>{{'Sort By'|trans}}:</label>
                                            <button {% if products.isSorted('Title ') %} {% endif %}>{{ knp_pagination_sortable(products, 'Title ', 'title ') }}</button>
                                            <button {% if products.isSorted('Price ') %} {% endif %}>{{ knp_pagination_sortable(products, 'Price ', 'price ') }}</button>
                                    {% if products.params.direction is defined %}
                                        <label>{{'Direction'|trans}}: {{products.params.direction}}endent</label>
                                    {% endif %}
                                </div>
                            </div>    
                        {% else %}
                                {{ 'There are no items in this category.'|trans }} 
                        {% endif %}
                    </div>
                    
                    <ul class="products-grid">
                    {% for product in products %}    
                        {% if loop.index%3==1 %}

                            <li class="item first">
                                <a href="product_detail.html" title="{{ product.title }}" class="product-image"><img src="{{ asset('bundles/shopbookshop/image/'~product.image) }}" width="135" height="135" alt="{{product.title}}" /></a>
                                <h2 class="product-name"><a href="product_detail.html" title="{{product.title}}">{{product.title}}</a></h2>
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-168">
                                        <span class="price">{{product.price}} US$</span>
                                    </span>
                                </div>

                                {% if product.active>0 %}
                                <div class="actions">
                                    <button type="button" title="Add to Cart" class="button btn-cart" >
                                        <span><span>Add to Cart</span></span>
                                    </button>
                                </div>
                                {% else %} <div class="actions" style='color:red'><span>Not available</span></div>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if loop.index%3==2 %}
                            <li class="item">
                                <a href="product_detail.html" title="{{ product.title }}" class="product-image"><img src="{{ asset('bundles/shopbookshop/image/'~product.image) }}" width="135" height="135" alt="{{product.title}}" /></a>
                                <h2 class="product-name"><a href="product_detail.html" title="{{product.title}}">{{product.title}}</a></h2>
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-168">
                                        <span class="price">{{product.price}} US$</span>
                                    </span>
                                </div>

                                {% if product.active>0 %}
                                <div class="actions">
                                    <button type="button" title="Add to Cart" class="button btn-cart" >
                                        <span><span>Add to Cart</span></span>
                                    </button>
                                </div>
                                {% else %} <div class="actions" style='color:red'><span>Not available</span></div>    
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if loop.index%3==0 %}
                            <li class="item">
                                <a href="product_detail.html" title="{{ product.title }}" class="product-image"><img src="{{ asset('bundles/shopbookshop/image/'~product.image) }}" width="135" height="135" alt="{{product.title}}" /></a>
                                <h2 class="product-name"><a href="product_detail.html" title="{{product.title}}">{{product.title}}</a></h2>
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-168">
                                        <span class="price">{{product.price}} US$</span>
                                    </span>
                                </div>
                                {% if product.active>0 %}
                                <div class="actions">
                                    <button type="button" title="Add to Cart" class="button btn-cart" >
                                        <span><span>Add to Cart</span></span>
                                    </button>
                                </div>
                                {% else %} <div class="actions" style='color:red'><span>Not available</span></div>    
                                {% endif %}    
                            </li>
                        {% endif %}
                    {% endfor %}    
                    </ul>

                        <div class="toolbar-bottom">
                            <div class="toolbar">
                                {% if products.items %}
                                <div class="pager">
                                    <p class="amount">
                                        <strong>{{ products.getTotalItemCount }} {{'Item(s)'|trans}}</strong>
                                    </p>
                                    <div class="pages">
                                        <strong>{{'Page'|trans}}: {{ knp_pagination_render(products) }}</strong>
                                    </div>
                                </div>
                                <div class="sorter">
                                    <div class="sort-by">
                                        <label>{{'Sort By'|trans}}:</label>
                                                <button {% if products.isSorted('Title ') %} {% endif %}>{{ knp_pagination_sortable(products, 'Title ', 'title ') }}</button>
                                                <button {% if products.isSorted('Price ') %} {% endif %}>{{ knp_pagination_sortable(products, 'Price ', 'price ') }}</button>
                                        {% if products.params.direction is defined %}
                                        <label>{{'Direction'|trans}}: {{products.params.direction}}endent</label>
                                        {% endif %}
                                    </div>
                                </div>    
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
            {% block leftSidebar %}
                <div class="col-left sidebar">
                    <div class="block block-layered-nav">
                        <div class="block-title">
                            <strong><span>{{'Shop By'|trans}}</span></strong>
                        </div>
                        <div class="block-content">
                            {% set cid, clabel, search= null, null, null %}
                            {% if products.params.cid is defined %}{% set cid=products.params.cid %}{% endif %} 
                            {% if products.params.clabel is defined %}{% set clabel=products.params.clabel %}{% endif %} 
                            {% if products.params.search is defined %}{% set search=products.params.search %}{% endif %}     
                            <div class="currently">
                                {% if products.params.pr is defined or products.params.st is defined %}
                                <p class="block-subtitle">{{'Currently Shopping by'|trans}}: </p>
                                {% endif %}
                                <ol>
                                    {% if products.params.cat is defined %}
                                    <li>
                                        <span class="label">{{'Category'|trans}}:</span> 
                                        <span class="value">   
                                        {{ products.params.cat }}
                                        </span>
                                        <a class="btn-remove" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'cat': null}) ) }}" title="Remove This Item">{{'Remove This Item'|trans}}</a>
                                    </li>
                                    {% endif %}
                                    {% if products.params.pr is defined %}
                                    <li>
                                        <span class="label">{{'Price'|trans}}:</span> 
                                        <span class="value">   
                                        {% if products.params.pr==1%}<span class="price">0,00 US$</span> - <span class="price">19,99 US$</span>{% endif %}
                                        {% if products.params.pr==2%}<span class="price">20,00 US$</span> - <span class="price">39,99 US$</span>{% endif %}
                                        {% if products.params.pr==3%}<span class="price">40,00 US$</span>{{' and above'|trans}}{% endif %}
                                        </span>
                                        <a class="btn-remove" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'pr': null}) ) }}" title="Remove This Item">{{'Remove This Item'|trans}}</a>
                                    </li>
                                    {% endif %}
                                    {% if products.params.st is defined %}
                                    <li>
                                        <span class="label">{{'Stock'|trans}}:</span> 
                                        <span class="value"> 
                                        {% if products.params.st==1 %}{{'Available'|trans}}{% endif %}
                                        {% if products.params.st==0 %}{{'Soon'|trans}}{% endif %}
                                        </span>
                                        <a class="btn-remove" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'st': null}) ) }}" title="Remove This Item">{{'Remove This Item'|trans}}</a>
                                    </li>
                                    {% endif %}
                                </ol>
                            </div>
                            
                            {% if products.params.pr is defined or products.params.st is defined or products.params.cat is defined %}    
                                <div class="actions">  
                                    <a href="{{ path('shop_bookshop_category', {'search':search, 'cid':cid, 'clabel':clabel}) }}">
                                        {{'Clear All'|trans}}
                                    </a>
                                </div>
                            {% endif %}
                            <p class="block-subtitle">{{'Shopping Options'|trans}}</p>
                            <dl id="narrow-by-list">
                                {% if products.params.search is defined and products.params.cid is not defined %}
                                <dt>{{'Category'|trans}}</dt>
                                <dd>
                                    <ol>
                                        {% for category in categories %}
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                        ({'cat': category}) ) }}">{{category}}</a></li>   
                                        {% endfor %}   
                                    </ol>    
                                </dd>
                                {% endif %}
                                <dt>{{'Price'|trans}}</dt>
                                
                                <dd>
                                    <ol>
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'pr': '1'}) ) }}"><span class="price">0,00 US$</span> - <span class="price">19,99 US$</span></a></li>
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'pr': '2'}) ) }}"><span class="price">20,00 US$</span> - <span class="price">39,99 US$</span></a></li>
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'pr': '3'}) ) }}"><span class="price">40,00 US$ </span>{{'and above'|trans}}</a></li>
                                    </ol>
                                </dd>
                                <dt>{{'Stock'|trans}}</dt>
                                <dd>
                                    <ol>
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'st': '1'}) ) }}">{{'Available'|trans}}</a></li>
                                        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge
                                            ({'st': '0'}) ) }}">{{'Soon'|trans}}</a></li>
                                    </ol>            
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block rightSidebar %}{{ parent() }}{% endblock %} 
    </div>
</div>
{% endblock %}